.cardItems {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (width >=768px) {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @media (width >=1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    img {
        width: 100%;
        aspect-ratio: 360 / 240;
        object-fit: cover;
    }
}