.button {
    display: block;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 1.5;
    padding: 11px 40px;
    border-radius: 24px;
    width: fit-content;
    margin-inline: auto;
}