/****** FirstViewImg.jsx CSS ******/
.FirstViewImg {
    position: relative;
    height: 776px;

    @media (min-width: 768px) {
        height: 735px
    }

    @media (min-width: 1200px) {
        height: 980px
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/****** FirstViewText.jsx CSS ******/
.FirstViewText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent);
    padding: 10px;

    img {

        @media (width >=768px) {
            width: 250px;
        }

        @media (width >=1200px) {
            width: 330px;
        }
    }

}