/****** FirstViewImg.jsx CSS ******/
.FirstViewImg {
    position: relative;
    height: 776px;
}

.FirstViewImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** FirstViewText.jsx CSS ******/
.FirstViewText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent);
    padding: 10px;
}