.modalOverlay {
    width: 100%;
    height: 100%;
    /* 親要素にtext-align:centerが入ってるので、左揃えに戻す */
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    .modalContent {
        max-width: 468px;
        border-radius: 4px;
        background-color: #fff;
        position: relative;

        .modalBox {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-inline: 1rem;
            padding-block: 24px;

            h2 {
                text-align: center;
            }
        }
    }
}
