.wrapper {
    max-width: 994px;
    margin-inline: auto;
}

/******* MainAreaSection.jsx *******/
.feedBackSection button {
    margin-block: 32px 48px;
}

/******* FormRadioContainer.jsx *******/
/******* FormSelectContainer.jsx *******/
/******* FormCheckMultiContainer.jsx *******/
/******* FormTextareaContainer.jsx *******/
legend,.legendP {
    font-weight: 700;
    margin-block-end: 4px;
}